.dot{
  border-radius: 50%;
  background-color:#e6eaf3;
  color: #c1cbe1;
  text-align: center;
  font-size: 20px;
  width: 50px;
  height: 50px;
  padding: 8px;
  border: 2px solid #d9deec;
  font-weight: bold;
}

.dot.is-active{
  border-radius: 50%;
  background-color:#e6f5fc;
  color: #1a4291;
  text-align: center;
  font-size: 20px;
  width: 50px;
  height: 50px;
  padding: 8px;
  border: 2px solid #6fc6e9;
  font-weight: bold;
}
.main-title{
   display: none;
}
.main-title.is-active{
  display: block;
}

.container .box {
              display : flex;
              flex-direction : row;
               
            }
.container .box .box-cell.box1 {
                background:white;
               
                text-align:justify;
             }
.container .box .box-cell.box2 {
                text-align:justify;
                margin-left: 100px;
                margin-top: 60px;
                align-items: flex-end;
            }