<h1 class="titulo-labs">${titulo_labs.getData()}</h1>
<div class="col col-sm-7 col-md-6">
    <p class="subtitulo-labs">${subtitulo_labs.getData()}</p>
</div>
<div class="container">
    <div class="row card-labs">
        <div class="container pt-7 pt-sm-0">
            <div class="row h-100">
                <div class="destaque-labs-list h-100 col-sm-9 col-md col-lg col-xl-10">
                    <#if titulo_tecnologia.getSiblings()?has_content>
	                <#list titulo_tecnologia.getSiblings() as cur_titulo_tecnologia>
		                <p class="item-labs-text">${cur_titulo_tecnologia.getData()}</p>
	                </#list>
                    </#if>
                </div>
                <a href="#" class="botao-labs">${botao_labs.getData()}</a>
            </div>
        </div>
    </div>
</div>



<style type="text/css">

.titulo-labs{
    font-size: 18.75rem !important;
    font-weight: 900 !important;
    letter-spacing: 1.875rem;
    color: #D03E35 !important;
    position: relative;
    display: inline-block;
    left: -0.9375rem;
    height: 18.75rem;
    z-index: 102;
}
.subtitulo-labs{
    text-align: left;
    font-size: 1.5rem;
    letter-spacing: 0rem;
    color: #4E4E4E;
    line-height: 2.9375rem;
    margin-left: 2.1875rem;
    margin-bottom: 3.125rem;
    z-index: 102;
}

.container {
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
}

.pt-7{
    padding-top: 6rem !important;
}

.pt-sm-0{
    padding-top: 0 !important;
}

.h-100{
    height: 100% !important;
}

.col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.destaque-labs .destaque-labs-list {
    padding: 2.5rem;
    padding-left: 0;
    padding-top: 3px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.625rem;
    flex-wrap: wrap;
    width: 70%;
    padding: 2.9375rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}

.card-labs {
    background-color: #D03E35 !important;
    height: 15rem;
}

.item-labs-text{
    color: white;
    font-size: 1.75rem;
    margin-bottom: 0;
    margin-left: 0.625rem;
    margin-top: 0;
    text-align: left;
    font-weight: 400;
    letter-spacing: 0rem;
    
}

.botao-labs{
    border: none;
    border-radius: 0;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    z-index: 102;
    transition: 500ms all ease;
    align-self: flex-end;
    margin-bottom: 2.0rem;
    width: 16.25rem; 
    height: 5rem;
    background-color: white;
    color: #D03E35 !important;
    text-align: center;
    user-select: none;
}

</style>